<!-- Charts Component -->
<div class="row g-4 mb-4">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Adherence Trend (%)</h5>
                <div class="chart-container"><canvas id="adherenceTrendChart"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Reminder Status</h5>
                <div class="chart-container"><canvas id="reminderStatusChart"></canvas></div>
            </div>
        </div>
    </div>
</div>

<div class="row g-4 mb-4">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Top 5 Medications</h5>
                <div class="chart-container"><canvas id="topMedicationsChart"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Top 5 Dosages</h5>
                <div class="chart-container"><canvas id="dosageDistributionChart"></canvas></div>
            </div>
        </div>
    </div>
</div>

<div class="row g-4 mb-4">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Reminders by Time of Day</h5>
                <div class="chart-container"><canvas id="remindersByTimeChart"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Upcoming vs. Completed</h5>
                <div class="chart-container"><canvas id="upcomingVsCompletedChart"></canvas></div>
            </div>
        </div>
    </div>
</div>
